@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
/* HEADER */
header {
  color: #2b4257;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

header h1 {
  font-weight: 400;
  max-width: 60%;
}

header div {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 3px solid #345e7d;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
header div img {
  object-fit: cover;
  width: 100%;
  height: 110%;
}

header h2,
header p {
  font-weight: 300;
  max-width: 100%;
  padding: 1rem 0;
}

header p {
  padding-bottom: 2rem;
  border-bottom: 3px solid #6da7cc;
}

/* MAIN */

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main > section {
  margin: 0 auto;
  min-width: 80%;
  color: #2b4257;
}

main > section h2 {
  text-align: center;
  padding: 1rem;
}
/*CONTACTO*/
#contacto ul {
  list-style-type: none;
}

#contacto ul li {
  padding-bottom: 0.3rem;
  padding-left: 2rem;
  background-position: 0 0;
  background-size: 1.4rem 1.4rem;
  background-repeat: no-repeat;
}

#contacto ul li:nth-child(1) {
  background-image: url("./images/linkedin.png");
}

#contacto ul li:nth-child(2) {
  background-image: url("./images/github.png");
}

#contacto ul li:nth-child(3) {
  background-image: url("./images/mail.png");
}

#contacto ul li:nth-child(4) {
  background-image: url("./images/ubicacion.png");
}

#contacto a:link {
  color: #2b4257;
}

#contacto a:visited {
  color: #6da7cc;
}

#contacto a:hover {
  color: #7c8186;
}
/*EXPERIENCIA LABORAL*/
.laboral > ul {
  list-style: none;
}

.laboral ul h4 {
  background-color: #6da7cc;
  text-align: center;
  color: white;
  padding: 0.5rem;
}
.laboral h4 + p {
  padding-left: 2rem;
}
.laboral ul ul {
  padding: 0.5rem;
  max-width: 90%;
  margin: 0 auto;
}

h5 {
  font-weight: bold;
}

.laboral > ul > li > ul {
  font-weight: 300;
  list-style: disc;
}

h5 + ul li {
  list-style: circle;
}

/*EDUCACION*/
main section:nth-child(3) ul {
  list-style: none;
}
/*COMPETENCIAS*/
main section:nth-child(5) ul {
  gap: 0.5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
}

main section:nth-child(5) ul li {
  background-color: #345e7d;
  color: white;
  padding: 6px 15px;
  border-radius: 10px;
}

/*OTRAS APTITUDES*/
main section:last-child ul {
  gap: 0.5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
}

main section:last-child ul li {
  background-color: #6da7cc;
  color: white;
  padding: 6px 15px;
  border-radius: 10px;
}

/*FOOTER*/
footer {
  text-align: center;
  color: #7c8186;
  padding-top: 2rem;
}

@media (min-width: 576px) {
  header {
    padding: 2rem 2rem 0 2rem;
    display: block;
    gap: 1 rem;
  }

  header div {
    position: absolute;
    top: 2rem;
    right: 3rem;
  }

  header h1,
  header h2 {
    padding: 0.5rem;
  }

  main {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  main section {
    padding-bottom: 2rem;
  }

  .laboral {
    grid-column: 2;
    grid-row: 1 / 7;
    padding-left: 2rem;
    border-left: 3px solid #6da7cc;
  }
}
